body {
    background-color: #CDEAC0;
    color: whitesmoke;

    font-family: 'Unbounded', cursive;
}

h1 {
    font-size: 60px;
    color: #04AA6D;
    text-align: center;
    margin-bottom: 0%;
}

p {color:#04AA6D}



/* Add a background color to the top navigation */
.navbar {
    background-color:#FEFADC;
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #9CADCE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #04AA6D;
    color: #FEFADC;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }